*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #3867ee;
    animation: body 800ms ease-in-out;
}
@keyframes body{
    0%{
        transform: translateY(20px);
        opacity: 0.5;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes appear{
    0%{
        transform: translateY(10px) skew(90deg);
        opacity: 0.5;
    }
    100%{
        transform: translateY(0) skew(0);
        opacity: 1;
    }
}

h1{
    text-align: center;
    font-family: sans-serif;
    text-decoration: underline;
    color: #f1f1f1;
    margin-top: 30px;
}
.container{
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 10px #00000031;
    background-color: #fff;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 60px auto;
    animation: appear 500ms ease-in-out;
}

form{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

form input{
    outline: none;
    border: 1px solid #fff;
    border-bottom: 2px solid #3867ee;
    font-family: sans-serif;
    font-size: 20px;
}

form button{
    border: 1px solid #3867ee;
    background-color: #3867ee;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    color: #fff;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 250ms ease-in-out, color 300ms ease-in;
}
form button:hover{
    background-color: #fff;
    color: #3867ee;

}
.country-data{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.country-infos{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
}
a:hover{
    text-decoration: underline;
}
.country-infos p{
    font-family: sans-serif;
    font-style: 20px;
    font-weight: 800;
}
.country-infos a{
    font-family: sans-serif;
    color: #000;
    font-style: 20px;
    font-weight: 600;
    text-decoration: none;
}
.flag{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.flag p{
    font-weight: 500;
    font-size: 25px;
}
.flag img{
    box-shadow: 0 4px 10px #00000068;
}
.countrsy-data{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.countrsy-data p{
    padding-top: 5px;
}
@media screen and (max-width:900px){
    .container{
        width: auto;
    }
    body{
        padding: 5px;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}